#main-body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3BDCF7;
}

#cal-body {
  height: 400px;
  width: 280px;
  background-color: #383428;
  border: 3px solid #383428;
  border-radius: 12px;
}

#input {
  height: 20px;
  max-height: 30px;
  max-width: 275px;
  background-color: white;
  font-size: 1.1em;
  color: brown;
  text-align: right;
  margin: 10px 8px 0 8px;
  padding: 5px 4px 0 0;
}

#display {
  height: 40px;
  max-height: 40px;
  max-width: 275px;
  background-color: white;
  font-size: 2em;
  text-align: right;
  margin: 0 8px 0 8px;
  padding: 12px 5px 12px 0px;
}

#keypad {
  height: 300px;
  width: 275px;
  background-color: #383428;
}

#keypad button {
  height: 50px;
  width: 60px;
  margin-bottom: 6px;
  margin-left: -8px;
  font-size: 1.1em;
}

#keypad #add, #keypad #equals {
  height: 106px;
  font-size: 1.2em
}

#keypad #subtract {
  font-size: 1.3em
}

#keypad #delete {
  padding-left: 16px;
}

#keypad #clear {
  padding-left: 20px;
}
